<div class="dashboard-container">
  <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link <%= params[:section] != 'expos' ? 'active' : '' %>" id="request-tab" data-toggle="tab" href="#request" role="tab" aria-controls="request" aria-selected="<%= params[:section] != 'expos' ? 'true' : 'false' %>">My Profile</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link <%= params[:section] == 'expos' ? 'active' : '' %>" id="items-tab" data-toggle="tab" href="#items" role="tab" aria-controls="items" aria-selected="<%= params[:section] == 'expos' ? 'true' : 'false' %>">Expos</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade <%= params[:section] != 'expos' ? 'active show' : '' %>" id="request" role="tabpanel" aria-labelledby="request-tab">
      <% if current_user.is_artist == true %>
        <div class="user-dashboard-container">
          <div class="user-artist-profile">
            <div class="avatar-profile" style="background-image: url('<%= cl_image_path current_user.photo.key, crop: :fill %>')"></div>
            <div class="user-artist-show-text">
              <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
              <p class="text-secondary"><i class="fas fa-map-marker-alt"></i>  <%= current_user.address %></p>
              <p class="text-secondary"><i class="fas fa-envelope"></i>  <%= current_user.email %></p>
            </div>
          </div>

          <div class="dashboard-buttons">
            <%= link_to 'Edit profile', edit_user_path(current_user), class: "btn dashboard-btn"  %>
            <%= link_to 'Create collection', new_collection_path(@collections), class: "btn dashboard-btn"  %>
            <%= link_to 'Add artwork', new_artwork_path(@artworks), class: "btn dashboard-btn"  %>
          </div>

          <div class="collections-index-cards-container">
            <% @collections.each do |collection| %>
              <div class="collection-index-card-text">
                <h2><strong><%= collection.title %></strong>  <i class="fas fa-arrows-alt-h"></i></h2>
                <div class="artworks-index-card-text">
                  <p><i class="fas fa-pen-fancy"></i><span class="text-muted">  <%= link_to 'Edit Collection', edit_collection_path(collection)%></span></p>
                  <p><i class="fas fa-trash-alt"></i><span class="text-muted">  <%= link_to "Delete Collection", collection_path(collection), method: :delete, data: { confirm: "Are you sure?" } %> </span></p>
                </div>
              </div>

              <div class="collections-index-scroll">
                <% collection.artworks.each do |artwork| %>
                  <div class="collections-artworks-index-cards">
                    <%= link_to artwork_path(artwork) do %>
                      <div class="collections-artwork-index-card-img" style="background-image: url('<%= cl_image_path artwork.photo.key, crop: :fill %>')"></div>
                    <% end %>
                  </div>
                <% end %>
              </div>

            <% end %>
          </div>


          <div class="dashboard-artworks">
            <% @artworks.each do |artwork| %>
              <div class="artworks-index-cards">
                <%= link_to artwork_path(artwork) do %>
                  <div class="artwork-index-card-img" style="background-image: url('<%= cl_image_path artwork.photo.key, crop: :fill %>')"></div>
                <% end %>
                <div class="artworks-index-card-text">
                  <p><i class="fas fa-pen-fancy"></i><span class="text-muted">  <%= link_to 'Edit', edit_artwork_path(artwork)%></span></p>
                  <p><i class="fas fa-trash-alt"></i><span class="text-muted">  <%= link_to "Delete", artwork_path(artwork), method: :delete, data: { confirm: "Are you sure?" } %> </span></p>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      <% else %>
        <div class="user-dashboard-container">
          <div class="user-artist-profile">
            <div class="avatar-profile" style="background-image: url('<%= cl_image_path current_user.photo.key, crop: :fill %>')"></div>
            <div class="user-artist-show-text">
              <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
              <p class="text-secondary"><i class="fas fa-map-marker-alt"></i>  <%= current_user.address %></p>
              <p class="text-secondary"><i class="fas fa-envelope"></i>  <%= current_user.email %></p>
            </div>
          </div>

          <div class="dashboard-buttons">
            <%= link_to 'Edit profile', edit_user_path(current_user), class: "btn dashboard-btn"  %>
            <%= link_to 'Add venue', new_venue_path(@venues), class: "btn dashboard-btn"  %>
          </div>

          <div class="dashboard-expo-grid">
            <% @venues.each do |venue| %>
              <div class="dashboard-venue-card">
                <% if venue.photos.present? %>
                  <%= cl_image_tag(venue.photos.first.key) unless venue.photos.first.key.blank? %>
                <% else %>
                  <%= cl_image_tag("https://res.cloudinary.com/mathildepfr/image/upload/v1631186164/undraw_art_museum_8or4_ncmsab.png") %>
                <% end %>
                <div class="dashboard-expo-card-text">
                  <div>
                    <%= link_to venue_path(venue) do %>
                      <h2><strong><%= venue.name %></strong></h2>
                    <% end %>
                    <p><%= venue.address %></p>
                    <p><%= venue.type_of_venue %></p>
                    <p><%= venue.venue_url %></p>
                  </div>
                  <div class="artworks-index-card-text">
                    <p><i class="fas fa-pen-fancy"></i><span class="text-muted">  <%= link_to 'Edit Venue', edit_venue_path(venue)%></span></p>
                    <p><i class="fas fa-trash-alt"></i><span class="text-muted">  <%= link_to "Delete Venue", venue_path(venue), method: :delete, data: { confirm: "Are you sure?" } %> </span></p>
                  </div>
                  <%= link_to 'Create an expo', new_venue_expo_path(venue), class: "btn dashboard-btn-blue"  %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade <%= params[:section] == 'expos' ? 'active show' : '' %>" id="items" role="tabpanel" aria-labelledby="items-tab">
      <% if current_user.is_artist == true %>
        <div class="user-dashboard-container">
          <div class="dashboard-expo-grid">
            <% @applications.each do |application| %>
              <% expo = application.expo %>
              <div class="dashboard-venue-card">
                <% if expo.venue.photos.present? %>
                  <%= cl_image_tag(expo.venue.photos.first.key) unless expo.venue.photos.first.key.blank? %>
                <% else %>
                  <%= cl_image_tag("https://res.cloudinary.com/mathildepfr/image/upload/v1631186164/undraw_art_museum_8or4_ncmsab.png") %>
                <% end %>
                <div class="dashboard-expo-card-text">
                  <div>
                    <%= link_to venue_path(expo.venue) do %>
                      <h2><strong><%= expo.venue.name %></strong></h2>
                    <% end %>
                    <p><i class="fas fa-calendar"></i><span class="text-muted"> From: </span><%= expo.start_date.strftime("%d %B %y") %></p>
                    <p><i class="fas fa-calendar-times"></i><span class="text-muted"> To: </span><%= expo.end_date.strftime("%d %B %y") %></p>
                    <p><span class="text-muted">Status: </span><%= application.status %></p>
                  </div>
                  <div class="artworks-index-card-text">
                    <p><i class="fas fa-trash-alt"></i><span class="text-muted">  <%= link_to "Delete Expo", expo_path(expo), method: :delete, data: { confirm: "Are you sure?" } %> </span></p>
                  </div>
                </div>
              </div>
            <% end %>
            <% if @applications.empty? %>
              <div class="no-expo-dashboard">
                <%= cl_image_tag("https://res.cloudinary.com/mathildepfr/image/upload/v1631163957/pale-list-is-empty_pmeven.png", crop: :fill) %>
                <p> No expo yet </p>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <%= render 'dashboard/collapse_dashboard' %>
      <% end %>
    </div>
  </div>
</div>
