<div class="artworks-show-container">
  <div class="artworks-show-text">
    <%= link_to user_path(@artwork.collection.user) do %>
      <div class="avatar-artwork" style="background-image: url('<%= cl_image_path @artwork.collection.user.photo.key, crop: :fill %>')"></div>
    <% end %>

    <div class="artworks-text">
      <div class="artworks-show-text-title">
        <h2><strong><%= @artwork.title %></strong></h2>
      </div>
        <p>by <%= link_to @artwork.collection.user.first_name, user_path(@artwork.collection.user) %></p>
      <div class="artworks-show-text-icons">
        <p><i class="fas fa-question-circle"></i></i><span class="text-muted"> Available: </span><%= @artwork.available ? '<i class="fas fa-check-circle text-success artwork-check"></i>'.html_safe : '<i class="fas fa-times-circle text-danger artwork-check"></i>'.html_safe %></p>
      </div>
      <div class="artworks-show-text-icons">
        <p><i class="fas fa-money-bill-alt"></i> $<%= @artwork.price %></p>
        <p><i class="fas fa-hat-cowboy-side"></i><span class="text-muted"> Size: </span><%= @artwork.size %></p>
      </div>
    </div>
  </div>
  <%= link_to artwork_path(@artwork) do %>
    <div class="artwork-show-card-img" style="background-image: url('<%= cl_image_path @artwork.photo.key, crop: :fill %>')"></div>
  <% end %>
  <div class="artworks-show-text">
    <p><i class="fas fa-file-alt"></i><span class="text-muted"> Description: </span><%= @artwork.description %></p>
  </div>
  <h4 class="text-muted">From the collection "<%= @artwork.collection.title %>" by <%= link_to @artwork.collection.user.first_name, user_path(@artwork.collection.user) %></h4>
  <div class="collections-index-scroll">
    <% @artwork.collection.artworks.each do |artwork| %>
      <div class="collections-artworks-index-cards">
        <%= link_to artwork_path(artwork) do %>
          <div class="collections-artwork-index-card-img" style="background-image: url('<%= cl_image_path artwork.photo.key, crop: :fill %>')"></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
