<div class="users-index-looking">
  <div class="users-index-looking-container">
    <%= link_to users_path(@users) do %>
      <%= cl_image_tag("https://res.cloudinary.com/mathildepfr/image/upload/v1631100588/51BF62CA-7923-4EFC-B3E5-B2E562968119_1_105_c_os1bdi.jpg", crop: :fill) %>
    <% end %>
    <div>
      <h1>Looking for someone?</h1>
      <h1 class="text-muted">(Search bar)</h1>
    </div>
  </div>
</div>

<div class="users-index-container">
  <div class="users-index-grid">
    <% @users.each do |user| %>
      <div class="users-index-cards">
        <%= link_to user_path(user) do %>
          <div class="avatar-index" style="background-image: url('<%= cl_image_path user.photo.key, crop: :fill %>')"></div>
        <% end %>
        <h4><%= link_to user.first_name, user_path(user) %></h4>
      </div>
    <% end %>
  </div>
</div>
