<% if @user.is_artist == true %>
  <div class="user-artist-show-container">
    <div class="user-artist-social-media">
      <i class="fab fa-behance-square"></i>
      <i class="fab fa-dribbble-square"></i>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-instagram-square"></i>
    </div>
    <div class="user-artist-profile">
      <div class="avatar-profile" style="background-image: url('<%= cl_image_path @user.photo.key, crop: :fill %>')"></div>
      <div class="user-artist-show-text">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <p class="text-secondary"><i class="fas fa-map-marker-alt"></i>  <%= @user.address %></p>
        <p class="text-secondary"><i class="fas fa-envelope"></i>  <%= @user.email %></p>
      </div>
    </div>

    <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="request-tab" data-toggle="tab" href="#request" role="tab" aria-controls="request" aria-selected="true">All Artworks</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="items-tab" data-toggle="tab" href="#items" role="tab" aria-controls="items" aria-selected="false">Collections</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="request" role="tabpanel" aria-labelledby="request-tab">
        <div class="artworks-index-cards-container">
          <% @artworks.each do |artwork| %>
            <div class="artworks-index-cards">
              <%= link_to artwork_path(artwork) do %>
                <div class="artwork-index-card-img" style="background-image: url('<%= cl_image_path artwork.photo.key, crop: :fill %>')"></div>
              <% end %>
              <div class="artworks-index-card-text">
                <h2><strong><%= link_to artwork.title, artwork_path(artwork) %></strong></h2>
                <p><i class="fas fa-question-circle"></i></i><span class="text-muted"> Available: </span><%= artwork.available ? '<i class="fas fa-check-circle text-success artwork-check"></i>'.html_safe : '<i class="fas fa-times-circle text-danger artwork-check"></i>'.html_safe %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="items-tab">
        <div class="collections-index-cards-container">
          <% @collections.each do |collection| %>
            <div class="collection-index-card-text">
              <h2><strong><%= collection.title %></strong>  <i class="fas fa-arrows-alt-h"></i></h2>
            </div>
            <div class="collections-index-scroll">
              <% collection.artworks.each do |artwork| %>
                <div class="collections-artworks-index-cards">
                  <%= link_to artwork_path(artwork) do %>
                    <div class="collections-artwork-index-card-img" style="background-image: url('<%= cl_image_path artwork.photo.key, crop: :fill %>')"></div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="user-artist-show-container">
    <div class="user-artist-social-media">
      <i class="fab fa-behance-square"></i>
      <i class="fab fa-dribbble-square"></i>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-instagram-square"></i>
    </div>
    <div class="user-artist-profile">
      <div class="avatar-profile" style="background-image: url('<%= cl_image_path @user.photo.key, crop: :fill %>')"></div>
      <div class="user-artist-show-text">
        <h1><%= @user.first_name %> <%= @user.last_name %>    <i class="fas fa-check-circle text-primary"></i></h1>
        <p class="text-secondary"><i class="fas fa-map-marker-alt"></i>  <%= @user.address %></p>
        <p class="text-secondary"><i class="fas fa-envelope"></i>  <%= @user.email %></p>
      </div>
    </div>
    <div class="dashboard-expo-grid">
      <% @venues.each do |venue| %>
        <div class="dashboard-venue-card">
          <% if venue.photos.present? %>
            <%= cl_image_tag(venue.photos.first.key) unless venue.photos.first.key.blank? %>
          <% else %>
            <%= cl_image_tag("https://res.cloudinary.com/mathildepfr/image/upload/v1631186164/undraw_art_museum_8or4_ncmsab.png") %>
          <% end %>
          <div class="dashboard-expo-card-text">
            <div>
              <%= link_to venue_path(venue) do %>
                <h2><strong><%= venue.name %></strong></h2>
              <% end %>
              <p><%= venue.address %></p>
              <p><%= venue.type_of_venue %></p>
              <p><%= venue.venue_url %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
