<div class="venue-details">
  <h5><%= @venue.name %></h5>
  <span style="color: white;"><strong> Location: </strong><%= @venue.address %></span> <br>
  <span style="color: white;"><strong> Venue type: </strong><%= @venue.type_of_venue %> </span><br>
  <span style="color: white;"><strong> Website: </strong><%= @venue.venue_url %></span> <br>
</div>
<div class="venue-show-body">
  <div class="container">
    <div class="siema siema2">
          <% @venue.photos.each do |photo| %>
              <div style="height: 700px; width: 100%; background-size: 1100px; background-image: url('<%= cl_image_path photo.key, crop: :fill %>')"></div>
          <% end %>
    </div>
    <button class="bttn prev button-submit" id="prev">Prev</button>
    <button class="bttn next button-submit" id="next">Next</button>
  </div>


</div>
