<div class="wrapper-venue">
  <div class="container-venue">
    <div class="container-venue-card">
      <div class="card-venue-text">
        <h2><%= @venue.name %></h2>
        <br>
        <p>Venue Type: <%= @venue.type_of_venue %></p>
        <p><%= @venue.address %></p>
        <p><%= @venue.venue_url %></p>
      </div>
    </div>

    <!-- Button trigger edit -->
    <button type="button" class="btn btn-secondary">
      <%= link_to "Edit this venue", edit_venue_path(@venue) %>
    </button>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      See Venue Profile
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= @user.find(@venue.user_id).first_name %> <%= @user.find(@venue.user_id).last_name %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% if @user.find(@venue.user_id).photo.attached? %>
              <div class="card-user-img-profile-index">
                <%= cl_image_tag @user.find(@venue.user_id).photo.key, height: 200, width:200, crop: :fill %>
              </div>
            <% else %>
              <div class="card-user-img-profile-index">
                <%= image_tag('avatar_placeholder.png', height: 200, width:200, crop: :fill) %>
              </div>
            <% end %>
            <br>
              <p><i class="far fa-envelope"></i> <span class="text-muted"><%= @user.find(@venue.user_id).email %></span></p>
              <p><i class="fas fa-map-marker-alt"></i> <span class="text-muted"><%= @user.find(@venue.user_id).address %></span></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


<!-- Container for the image gallery -->
  <div class="container-gallery">

    <!-- Full-width images with number text -->
    <%#= count = 1 %>
    <% @venue.photos.each do |photo| %>
      <div class="mySlides">
        <div class="numbertext">1 / 6</div>
          <%= cl_image_tag photo.key, height: 600, width: 800, crop: :fill %>
      </div>
      <%#= count += 1 %>
    <% end %>

    <%# <div class="mySlides">
      <div class="numbertext">2 / 6</div>
        <img class="big-img" src="https://images.unsplash.com/photo-1444419988131-046ed4e5ffd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3150&q=80" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 6</div>
        <img class="big-img" src="https://images.unsplash.com/photo-1494672203374-c593733a6150?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3151&q=80" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 6</div>
        <img class="big-img" src="https://images.unsplash.com/photo-1463143217634-f1089c4b3cc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3150&q=80" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">5 / 6</div>
        <img class="big-img" src="https://images.unsplash.com/photo-1530639317500-ed49d1fd6d9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3150&q=80" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">6 / 6</div>
        <img class="big-img" src="https://images.unsplash.com/photo-1510418650961-a97f9724fd8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3150&q=80" style="width:100%">
    </div> %>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Image text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <!-- Thumbnail images -->
    <div class="thumbnail-row">
      <% @venue.photos.each do |photo| %
        <div class="column">
          <%= cl_image_tag photo.key, height: 85, width: 800 / @venue.photos.length %>
        </div>
      <% end %>

      <%# <div class="column">
        <img class="demo cursor" src="https://images.unsplash.com/photo-1534353341328-aede12f06b84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3150&q=80" style="width:100%" onclick="currentSlide(1)" alt="Venue Image #1">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://images.unsplash.com/photo-1444419988131-046ed4e5ffd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3150&q=80" style="width:100%" onclick="currentSlide(2)" alt="Venue Image #2">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://images.unsplash.com/photo-1494672203374-c593733a6150?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3151&q=80" style="width:100%" onclick="currentSlide(3)" alt="Venue Image #3">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://images.unsplash.com/photo-1463143217634-f1089c4b3cc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3150&q=80" style="width:100%" onclick="currentSlide(4)" alt="Venue Image #4">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://images.unsplash.com/photo-1530639317500-ed49d1fd6d9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3150&q=80" style="width:100%" onclick="currentSlide(5)" alt="Venue Image #5">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://images.unsplash.com/photo-1510418650961-a97f9724fd8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3150&q=80" style="width:100%" onclick="currentSlide(6)" alt="Venue Image #6">
      </div> %>
    </div>
  </div>
</div>
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  if (slides[slideIndex-1]) {
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }

}
</script>
