<div class="siema-body">
    <%= simple_form_for [@venue, @expo] do |f| %>
  <div class="siema">
    <div class="siema-slide"><%= render 'medium', form: f %></div>
    <div class="siema-slide"><%= render 'style', form: f %></div>
    <div class="siema-slide"><%= render 'details', form: f %></div>
    <div class="siema-slide"><%= render 'confirmation', form: f %></div>
  </div>
    <% end %>
</div>

<div class="progress-lower">
  <button class="bttn prev button-submit" id="prev" disabled>Prev</button>
  <button class="bttn next button-submit" id="next">Next</button>

    <div class="progress-container">
      <div class="progress" id="progress"></div>
      <div class="circle activated"><i class="far fa-check-circle yellow"></i></div>
      <div class="circle"><i class="far fa-check-circle"></i></div>
      <div class="circle"><i class="far fa-check-circle"></i></div>
      <div class="circle"><i class="far fa-check-circle"></i></div>
    </div>
</div>
